.character-comics-container {
  /* background-color: aquamarine; */
  padding: 30px;
  display: flex;
  gap: 50px;
  /* justify-content: center; */
}

/* .character-comics-container div {
  width: 50%;
} */

h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

h2 span {
  font-weight: 600;
}
